<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114130711-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-114130711-4');
    </script>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
	============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />

    <link rel="stylesheet" href="css/dark.css" type="text/css" />
    <link rel="stylesheet" href="css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/animate.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="shortcut icon" type="image/ico" href="./images/icons/favicon.ico" />

    <!-- Seo Demo Specific Stylesheet -->
    <link rel="stylesheet" href="css/colors.php?color=FE9603" type="text/css" /> <!-- Theme Color -->
    <link rel="stylesheet" href="demos/seo/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="css/seo.css" type="text/css" />
    <link rel="stylesheet" href="css/imports/shortcodes/social-icons.css" type="text/css" />
    <!-- / -->
    <!-- Bootstrap Switch CSS -->
    <link rel="stylesheet" href="css/components/bs-switches.css" type="text/css" />

    <link rel="stylesheet" href="css/responsive.css" type="text/css" />
    <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>


    <!-- Document Title
	============================================= -->
    <title>Enhencer - Predictive Storyteller | Data Analysis Using Automated Machine Learning</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
        </script>
    <script>
        // DIRTY Responsive pricing table JS

        $("ul").on("click", "li", function () {
            var pos = $(this).index() + 2;
            $("tr").find('td:not(:eq(0))').hide();
            $('td:nth-child(' + pos + ')').css('display', 'table-cell');
            $("tr").find('th:not(:eq(0))').hide();
            $('li').removeClass('active');
            $(this).addClass('active');
        });

        // Initialize the media query
        var mediaQuery = window.matchMedia('(min-width: 640px)');

        // Add a listen event
        mediaQuery.addListener(doSomething);

        // Function to do something with the media query
        function doSomething(mediaQuery) {
            if (mediaQuery.matches) {
                $('.sep').attr('colspan', 5);
            } else {
                $('.sep').attr('colspan', 2);
            }
        }

        // On load
        doSomething(mediaQuery);
    </script>
</head>


<body class="stretched">

    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="clearfix">


        <!-- Top Bar
		============================================= -->
        <div id="top-bar" class="transparent-topbar">

            <div class="container clearfix">

                <div class="col_half nobottommargin clearfix">

                    <!-- Top Links
                        ============================================= -->
                    <div class="top-links">
                        <ul>
                            <!-- <li><a href="https://blog.enhencer.com" target="_blank">Blog</a></li>
                                <li><a href="faqs.html">FAQs</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="#"><img src="demos/seo/images/flags/eng.png" alt="Lang">Eng</a>
                                    <ul>
                                        <li><a href="#"><img src="demos/seo/images/flags/fre.png" alt="Lang">Fre</a></li>
                                        <li><a href="#"><img src="demos/seo/images/flags/ara.png" alt="Lang">Ara</a></li>
                                        <li><a href="#"><img src="demos/seo/images/flags/tha.png" alt="Lang">Tha</a></li>
                                    </ul>
                                </li> -->
                        </ul>
                    </div>
                    <!-- .top-links end -->

                </div>

                <div class="col_half fright dark col_last clearfix nobottommargin">

                    <!-- Top Social
                        ============================================= -->
                    <div id="top-social">
                        <ul id="topsocial" class="top-social-mobile-hide">
                            <li><a href="https://www.youtube.com/channel/UCIgWv2OQm6vSMlpXph4nbLA?view_as=subscriber"
                                    class="si-youtube" target="_blank"><span class="ts-icon"><i class="icon-youtube"></i></span><span
                                        class="ts-text">Youtube</span></a></li>
                            <li><a href="https://www.linkedin.com/company/enhencer/" class="si-linkedin" target="_blank"><span
                                        class="ts-icon"><i class="icon-linkedin"></i></span><span class="ts-text">LinkedIn</span></a></li>
                            <li><a href="https://www.quora.com/topic/Enhencer" class="si-quora" target="_blank"><span
                                        class="ts-icon"><i class="icon-quora"></i></span><span class="ts-text">Quora</span></a></li>
                            <li><a href="https://www.instagram.com/enhencerapp/" class="si-instagram2" target="_blank"><span
                                        class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
                            <li><a href="https://twitter.com/enhencerapp?lang=en" class="si-twitter" target="_blank"><span
                                        class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
                            <li><a href="https://www.facebook.com/Enhencer/" class="si-facebook" target="_blank"><span
                                        class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
                        </ul>
                    </div><!-- #top-social end -->

                </div>

            </div>

        </div><!-- #top-bar end -->

        <!-- Header
            ============================================= -->
        <header id="header" class="transparent-header floating-header clearfix">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                        ============================================= -->
                    <div id="logo">
                        <a href="/" class="standard-logo" data-dark-logo="images/enhence-logo-type-32.gif"><img src="images/enhence-logo-type-32.gif"
                                alt="Enhencer Logo"></a>
                        <a href="/" class="retina-logo" data-dark-logo="images/enhencer-logo-32.gif"><img src="images/enhencer-logo-32.gif"
                                alt="Enhencer Logo"></a>
                    </div><!-- #logo end -->

                    <!-- Primary Navigation
                        ============================================= -->
                    <nav id="primary-menu" class="with-arrows" style="width: 520px; ">

                        <ul id="primarymenumobile" class="ul.sf-js-enabled">
                            <li>
                                <a href="connect.html" onclick="ga('send', 'event', 'Landing', 'Top Bar', 'Connect');">
                                    <div>Connect</div>
                                </a>
                            </li>
                            <li>
                                <a href="stories.html" onclick="ga('send', 'event', 'Landing', 'Top Bar', 'Stories');">
                                    <div>Stories</div>
                                </a>
                            </li>
                            <li class="current">
                                <a href="pricing.html" onclick="ga('send', 'event', 'Landing', 'Top Bar', 'Pricing');">
                                    <div>Pricing</div>
                                </a>
                            </li>

                        </ul>

                        <!-- Top Search
						============================================= -->
                        <!-- <div id="top-search" class="fleft">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.html" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
							</form>
						</div>#top-search end -->

                        <!-- Menu Buttons
                            ============================================= -->
                        <a href="https://app.enhencer.com/#!/login" onclick="ga('send', 'event', 'Landing', 'Top Bar', 'Sign-In');"
                            target="_blank" class="button button-rounded button-light bg-white border nott ls0 border-blue button-enhencer-default-green"
                            style="text-align: center;
                           padding-left: 0px;
                           width: 82px;
                           padding-right: 0px;margin-left: 3%;
                           background-color: transparent !important;">Sign
                            in</a>
                        <a href="https://app.enhencer.com/#!/signup" onclick="ga('send', 'event', 'Landing', 'Top Bar', 'Try Free');"
                            target="_blank" class="button button-rounded fright try-free-button">Try
                            Free</a>

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->

        <!-- Pricing
        ============================================= -->
        <div style="background: url('demos/seo/images/sections/4.png') no-repeat center top / cover; padding: 0">
            <div class="container container-alternate">
                <div>
                    <div class="nobottomborder bottommargin-sm">
                        <br>
                        <br>
                        <br>
                        <h3 class="nott ls0 central" style="width: 100%; font-size:30px !important; font-weight: 200; font-family: 'Poppins', sans-serif;
                            color: #444;">Choose
                            the plan that can handle your data.
                            You can cancel anytime</h3>
                    </div>
                    <p style="font-size:20px; text-align:center; color: #555;">Whether you are a startup or a
                        multinational
                        enterprise, Enhencer can maximize
                        the value of your data. </p>
                    <br>
                    <br>
                    <div class="pricing-tenure-switcher central" data-container="#pricingSwitch">
                        <span class="pts-left">
                            Monthly
                        </span>
                        <div class="pts-switcher" ng-click="annuallyChanged()">
                            <div class="switch">
                                <input id="switch-toggle-pricing-tenure" class="switch-toggle switch-toggle-round" type="checkbox">
                                <label for="switch-toggle-pricing-tenure"></label>
                            </div>
                        </div>
                        <span class="pts-right">
                            Yearly (2 Months Free)
                        </span>
                    </div>
                </div>
                <br>
                <br>
                <div class="row justify-content-between" id="pricing">
                    <div id="section-pricing" class="page-section nopadding nomargin" style="width: 107%; margin-left: -9% !important;">
                        <div id="pricingSwitch" class="pricing row align-items-end bottommargin-lg clearfix central"
                            style="width: 110%;">
                            <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
                                <div class="pricing-box" style="border-radius: 10px;">
                                    <div class="pricing-title">
                                        <img class="mb-2 nobg noradius" style="padding-top:10px;" src="demos/seo/images/icons/man.svg"
                                            alt="Pricing Icon" width="50">
                                        <h3>
                                            Essential
                                        </h3>
                                    </div>
                                    <div class="pricing-price">
                                        <div class="pts-switch-content-left">
                                            <span class="price-unit">
                                                &dollar;
                                            </span>
                                            0
                                            <span class="price-tenure">
                                                Per Month
                                            </span>
                                        </div>
                                        <div class="pts-switch-content-right">
                                            <span class="price-unit">
                                                &dollar;
                                            </span>
                                            0
                                            <span class="price-tenure">
                                                Per Month
                                            </span>
                                        </div>
                                    </div>
                                    <div class="pricing-features border-bottom-0">
                                        <ul>
                                            <li>
                                                <i class="icon-check-circle color mr-2">
                                                </i>
                                                <strong style="font-weight: 700">
                                                    Free
                                                </strong>
                                                Forever
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2">
                                                </i>
                                                <strong style="font-weight: 700">
                                                    Single
                                                </strong>
                                                Analyst
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2">
                                                </i>
                                                <strong style="font-weight: 700">
                                                    Limited
                                                </strong>
                                                Rows
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2">

                                                </i>
                                                <strong style="font-weight: 700">
                                                    Up to 10
                                                </strong>
                                                Variables
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                On Cloud
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                Live Chat Support
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pricing-action">
                                        <div>
                                            <a href="https://app.enhencer.com/#!/signup" class="button button-rounded button-large button-light border nott m-0 ls0"
                                                style="background-color:rgb(204, 204, 204); color:#5a5c5e; font-size: 16px; font-weight: 700; border-radius: 10px;">
                                                Try Free
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
                                <div class="pricing-box" style="border-radius: 10px; margin-left: 30%;">
                                    <div class="pricing-title">
                                        <img class="mb-2 nobg noradius" src="demos/seo/images/icons/experience.svg" alt="Pricing Icon"
                                            width="60">
                                        <h3>Startup</h3>
                                    </div>
                                    <div class="pricing-price">
                                        <div class="pts-switch-content-left">
                                            <span class="price-unit">&dollar;</span>
                                            49
                                            <span class="price-tenure">Per Month</span>
                                        </div>
                                        <div class="pts-switch-content-right">
                                            <span class="price-unit">&dollar;</span>
                                            39
                                            <span class="price-tenure">Per Month</span>
                                        </div>
                                    </div>
                                    <div class="pricing-features border-bottom-0">
                                        <ul>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                <strong style="font-weight: 700">
                                                    14 Days
                                                </strong>
                                                Trial
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                <strong style="font-weight: 700">
                                                    Single
                                                </strong>
                                                Analyst
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                <strong style="font-weight: 700">
                                                    Limited
                                                </strong>
                                                Rows
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                <strong style="font-weight: 700">
                                                    Up to 25
                                                </strong>
                                                Variables
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                On Cloud
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                Live Chat Support
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pricing-action">
                                        <div>
                                            <a href="https://app.enhencer.com/#!/signup" class="button button-rounded button-large button-light border nott m-0 ls0"
                                                style="background-color:rgb(34, 142, 159); color:white; font-size: 16px; font-weight: 700; border-radius: 10px;"
                                                ng-class="{'btn-buy-now': isDisabled('startup')}" ng-click="gotoBill('startup')">
                                                Try Free
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="padding-left: 0px; padding-right: 0px; margin-top: -20px;">
                                <div class="pricing-box" style="border-radius: 10px; margin-left: 10%;">
                                    <div class="pricing-title">
                                        <img class="mb-2 nobg noradius" src="demos/seo/images/icons/team.svg" alt="Pricing Icon"
                                            width="60">
                                        <h3>Premium</h3>
                                        <span>Most Popular</span>
                                    </div>
                                    <div class="pricing-price">
                                        <div class="pts-switch-content-left">
                                            <span class="price-unit">&dollar;</span>
                                            590
                                            <span class="price-tenure">
                                                Per Month
                                            </span>
                                        </div>
                                        <div class="pts-switch-content-right">
                                            <span class="price-unit">&dollar;</span>
                                            490
                                            <span class="price-tenure">Per Month</span>
                                        </div>
                                    </div>
                                    <div class="pricing-features border-bottom-0">
                                        <ul>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                <strong style="font-weight: 700">
                                                    14 Days
                                                </strong>
                                                Trial
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                <strong style="font-weight: 700">
                                                    Up to 5
                                                </strong>
                                                Analysts
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                <strong style="font-weight: 700">
                                                    Limited
                                                </strong>
                                                Rows
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                <strong style="font-weight: 700">
                                                    Unlimited
                                                </strong>
                                                Variables
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                On Cloud
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                Customer Success Manager
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pricing-action">
                                        <div>
                                            <a href="https://app.enhencer.com/#!/signup" class="button button-rounded button-large button-light border nott m-0 ls0"
                                                style="background-color:#2ca497; color:white; font-size: 16px; font-weight: 700; border-radius: 10px;"
                                                ng-class="{'btn-buy-now': isDisabled('startup')}" ng-click="gotoBill('premium')">
                                                Try Free
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
                                <div class="pricing-box" style="border-radius: 10px; margin-left: -10%;">
                                    <div class="pricing-title">
                                        <img class="mb-2 nobg noradius" src="demos/seo/images/icons/group.svg" alt="Pricing Icon"
                                            width="60">
                                        <h3>Enterprise</h3>
                                    </div>
                                    <div class="pricing-price ">
                                        <div class="pts-switch-content-left" style="padding-bottom:15px;">
                                            <span class="price-unit"></span>
                                            Contact Us
                                            <span class="price-tenure" style="font-size: 0px;">
                                                Per Month
                                            </span>
                                        </div>
                                        <div class="pts-switch-content-right" style="padding-bottom:15px;">
                                            <span class="price-unit"></span>
                                            Contact Us
                                            <span class="price-tenure" style="font-size: 0px;">
                                                Per Month
                                            </span>
                                        </div>

                                    </div>
                                    <div class="pricing-features border-bottom-0">
                                        <ul>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                <strong style="font-weight: 700">
                                                    14 Days
                                                </strong>
                                                Trial
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                <strong style="font-weight: 700">
                                                    Unlimited
                                                </strong>
                                                Analysts
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                <strong style="font-weight: 700">
                                                    Unlimited
                                                </strong>
                                                Rows
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                <strong style="font-weight: 700">
                                                    Unlimited
                                                </strong>
                                                Variables
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                On Cloud/Local
                                            </li>
                                            <li>
                                                <i class="icon-check-circle color mr-2"></i>
                                                Customer Success Manager
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pricing-action">
                                        <div>
                                            <a href="https://enhencer.com/contact-form.html" class="button button-rounded button-large button-light border nott m-0 ls0"
                                                style="background-color:#40AF5F; color:white; font-size: 16px; font-weight: 700; border-radius: 10px">
                                                Contact Us
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="font-size:20px; text-align: center; color: #555;">*No credit card required.</p>
            <br>
            <br>

        </div>
        <br>
        <br>
        <div id="allFeaturesTitle">
            <br>
            <br>
            <br>
            <h2 style="width: 100%; font-size:30px; font-weight: 200; text-align: center; font-family: 'Poppins', sans-serif;
            color: #444;">Compare
                plans with all
                features
            </h2>
        </div>
        <article id="allFeatures">
            <table style="width: 100%; margin-top: 20px; margin-left: -3%;">
                <thead>
                    <tr class="" style="height: 50px">
                        <td colspan="1" class="sep-alternate border-left-table text-right font-15-p"></td>
                        <th class="bg-ash text-center border-right-table">Essential</th>
                        <th class="bg-blue text-center border-right-table">Startup</th>
                        <th class="bg-green text-center border-right-table">Premium</th>
                        <th class="bg-light-green text-center border-right-table">Enterprise</th>
                    </tr>
                </thead>
                <tbody class="tbody-pricing">
                    <tr class="" style="height: 50px">
                        <td colspan="1" class="sep-alternate border-left-table text-right font-15-p">Row Limits</td>
                        <td colspan="4" class="sep border-left-table"></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">Flat File (xls, csv, txt)</td>
                        <td class="text-center"><span class="pricing-table-cell-font">1,000</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">10,000</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">100,000</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Unlimited</span></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">DB Connection</td>
                        <td class="text-center"><span class="pricing-table-cell-font">1,000</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">10,000</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">100,000</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Unlimited</span></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">CRM Platform Integrations (Leads)</td>
                        <td class="text-center"><span class="pricing-table-cell-font">100</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">10,000</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">100,000</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Unlimited</span></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">Online Form Integrations (Entries)</td>
                        <td class="text-center"><span class="pricing-table-cell-font">100</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">10,000</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Unlimited</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Unlimited</span></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">Google Adwords (Clicks/Day)</td>
                        <td class="text-center"><span class="pricing-table-cell-font">25</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">250</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">10,000</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Unlimited</span></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">Google Analytics (Users/Day)</td>
                        <td class="text-center"><span class="pricing-table-cell-font">25</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">250</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">10,000</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Unlimited</span></td>
                    </tr>
                    <tr class="" style="height: 50px">
                        <td colspan="1" class="sep-alternate border-left-table text-right font-15-p">Project Limits</td>
                        <td colspan="4" class="sep border-left-table"></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">Number of Variables</td>
                        <td class="text-center"><span class="pricing-table-cell-font">10</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">25</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Unlimited</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Unlimited</span></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">Numer of Projects</td>
                        <td class="text-center"><span class="pricing-table-cell-font">3</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">10</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Unlimited</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Unlimited</span></td>
                    </tr>
                    <tr class="" style="height: 50px">
                        <td colspan="1" class="sep-alternate border-left-table text-right font-15-p">Collaboration
                            Limits</td>
                        <td colspan="4" class="sep border-left-table"></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">Number of Analysts</td>
                        <td class="text-center"><span class="pricing-table-cell-font">1</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">1</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">5</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Unlimited</span></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">Number of Viewers</td>
                        <td class="text-center"><span class="pricing-table-cell-font">1</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">3</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">10</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Unlimited</span></td>
                    </tr>
                    <tr class="" style="height: 50px">
                        <td colspan="1" class="sep-alternate border-left-table text-right font-15-p">Technical Features</td>
                        <td colspan="4" class="sep border-left-table"></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">Analyze Module</td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">Predict Module</td>
                        <td class="text-center"><span class="pricing-table-cell-font">Only Decision Tree</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Many ML Algorithms</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Many ML Algorithms</span></td>
                        <td class="text-center"><span class="pricing-table-cell-font">Many ML Algorithms</span></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">Report Module</td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                    </tr>
                    <tr class="" style="height: 50px">
                        <td colspan="1" class="sep-alternate border-left-table text-right font-15-p">Deployment Type</td>
                        <td colspan="4" class="sep border-left-table"></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">Cloud</td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">Local</td>
                        <td class="text-center"><span class="pricing-table-cell-font"></span></td>
                        <td class="text-center"><span class="pricing-table-cell-font"></span></td>
                        <td class="text-center"><span class="pricing-table-cell-font"></span></td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                    </tr>
                    <tr class="" style="height: 50px">
                        <td colspan="1" class="sep-alternate border-left-table text-right font-15-p">Data Scientists
                            Support</td>
                        <td colspan="4" class="sep border-left-table"></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">Live Chat</td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                    </tr>
                    <tr class="" style="height: 35px">
                        <td class="border-right-table border-left-table text-right">Customer Success Manager</td>
                        <td class="text-center"><span class="pricing-table-cell-font"></span></td>
                        <td class="text-center"><span class="pricing-table-cell-font"></span></td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                        <td class="text-center"><span class="tick">&#10004;</span></td>
                    </tr>
                    <tr class="" style="height: 100px">
                        <td class="border-right-table border-left-table text-right"></td>
                        <td class="text-center"><span class="pricing-table-cell-font"></span></td>
                        <td class="text-center">
                            <span class="pricing-table-cell-font">
                                <div class="pricing-action">
                                    <div>
                                        <a href="https://app.enhencer.com/#!/signup" class="button button-rounded button-large button-light border nott m-0 ls0"
                                            style="background-color:rgb(34, 142, 159); color:white; font-size: 16px; font-weight: 700; border-radius: 10px;"
                                            ng-class="{'btn-buy-now': isDisabled('startup')}" ng-click="gotoBill('startup')">
                                            Try Free
                                        </a>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td class="text-center">
                            <span class="tick">
                                <div class="pricing-action">
                                    <div>
                                        <a href="https://app.enhencer.com/#!/signup" class="button button-rounded button-large button-light border nott m-0 ls0"
                                            style="background-color:#2ca497; color:white; font-size: 16px; font-weight: 700; border-radius: 10px;"
                                            ng-class="{'btn-buy-now': isDisabled('startup')}" ng-click="gotoBill('premium')">
                                            Try Free
                                        </a>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td class="text-center">
                            <span class="tick">
                                <div class="pricing-action">
                                    <div>
                                        <a href="https://enhencer.com/contact-form.html" class="button button-rounded button-large button-light border nott m-0 ls0"
                                            style="background-color:#40AF5F; color:white; font-size: 16px; font-weight: 700; border-radius: 10px">
                                            Contact Us
                                        </a>
                                    </div>
                                </div>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


            <!-- Footer
		============================================= -->
            <!-- Footer
		============================================= -->
            <div class="section nobg m-0 border-bottom py-5" style="padding: 10px 0 !important;">
                <br>
                <br>
                <hr class="style7">

                <div class="central">
                    <div id="logo" style="margin-right: 0px;">
                        <a href="/" class="standard-logo" data-dark-logo="images/enhencer-logo-32.gif"><img id="logoImage"
                                src="images/enhencer-logo-32.gif" alt="Enhencer Logo"></a>
                        <!-- <a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Enhencer Logo"></a> -->
                    </div><!-- #logo end -->
                </div>
                <div class="central">
                    <nav id="primary-menu" class="with-arrows">
                        <ul>
                            <li><a href="about-us.html" onclick="ga('send', 'event', 'Landing', 'Home', 'Blog');">
                                    <div class="t300">About Us</div>
                                </a>
                            </li>
                            <li>
                                <a href="https://blog.enhencer.com">
                                    <div class="t300">Blog</div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="t300">Webinar</div>
                                </a>
                            </li>
                            <li><a href="partnership.html" onclick="ga('send', 'event', 'Landing', 'Home', 'Partnership');">
                                    <div class="t300">Partnership</div>
                                </a>
                            </li>
                            <li><a href="index.html" onclick="ga('send', 'event', 'Landing', 'Home', 'Help-Center');">
                                    <div class="t300">Help-Center</div>
                                </a></li>

                            <li><a href="#">
                                    <div class="t300">FAQs</div>
                                </a>
                            </li>

                            <li><a href="privacy-policy.html">
                                    <div class="t300">Privacy Policy</div>
                                </a>
                            </li>
                            <li><a href="terms-of-use.html">
                                    <div class="t300">Terms of Use</div>
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="central">
                    <div class="dark col_last clearfix nobottommargin">
                        <!-- Top Social
                                    ============================================= -->
                        <div id="top-social">
                            <ul>
                                <li><a href="https://www.youtube.com/channel/UCIgWv2OQm6vSMlpXph4nbLA?view_as=subscriber"
                                        class="si-youtube" target="_blank"><span class="ts-icon"><i class="icon-youtube"></i></span><span
                                            class="ts-text">Youtube</span></a></li>
                                <li><a href="https://www.linkedin.com/company/enhencer/" class="si-linkedin" target="_blank"><span
                                            class="ts-icon"><i class="icon-linkedin"></i></span><span class="ts-text">LinkedIn</span></a></li>
                                <li><a href="https://www.quora.com/topic/Enhencer" class="si-quora" target="_blank"><span
                                            class="ts-icon"><i class="icon-quora"></i></span><span class="ts-text">Quora</span></a></li>
                                <li><a href="https://www.instagram.com/enhencerapp/" class="si-instagram" target="_blank"><span
                                            class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
                                <li><a href="https://twitter.com/enhencerapp?lang=en" class="si-twitter" target="_blank"><span
                                            class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
                                <li><a href="https://www.facebook.com/Enhencer/" class="si-facebook" target="_blank"><span
                                            class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
                            </ul>
                        </div><!-- #top-social end -->

                    </div>
                </div>
                <br>
                <div class="central">
                    <a href="contact-form.html" onclick="ga('send', 'event', 'Landing', 'Home', 'Contact Us');" target="_blank"
                        class="button button-rounded" style="text-transform: none;">Contact
                        Us</a>
                </div>
                <br>
                <br>
                <div class="central">
                    <a href="#">
                        <div class="t300" style="color: #444;">Enhencer &#9400; 2018. All Rights Reserved.</div>
                    </a>
                </div>
                <br>
            </div>

            <!-- Go To Top
	============================================= -->
            <div id="gotoTop" class="icon-angle-up"></div>

            <!-- External JavaScripts
============================================= -->
            <script src="js/jquery.js"></script>
            <script src="js/plugins.js"></script>

            <!-- Footer Scripts
============================================= -->
            <script src="js/functions.js"></script>

            <script>
                //Pricing Table Script
                jQuery(document).ready(function ($) {
                    function pricingSwitcher(elementCheck, elementParent, elementPricing) {
                        elementParent.find('.pts-left,.pts-right').removeClass('pts-switch-active');
                        elementPricing.find('.pts-switch-content-left,.pts-switch-content-right').addClass('hidden');

                        if (elementCheck.filter(':checked').length > 0) {
                            elementParent.find('.pts-right').addClass('pts-switch-active');
                            elementPricing.find('.pts-switch-content-right').removeClass('hidden');
                        } else {
                            elementParent.find('.pts-left').addClass('pts-switch-active');
                            elementPricing.find('.pts-switch-content-left').removeClass('hidden');
                        }
                    }

                    $('.pts-switcher').each(function () {
                        var element = $(this),
                            elementCheck = element.find(':checkbox'),
                            elementParent = $(this).parents('.pricing-tenure-switcher'),
                            elementPricing = $(elementParent.attr('data-container'));

                        pricingSwitcher(elementCheck, elementParent, elementPricing);

                        elementCheck.on('change', function () {
                            pricingSwitcher(elementCheck, elementParent, elementPricing);
                        });
                    });
                });

            </script>

</body>

</html>