

.border-blue {
	border: 1.5px solid #228E9F !important;
}

.border-green {
	border: 1.5px solid var(--buttonthemecolor) !important; 
}
.button-enhencer-default-green {
	color: #228E9F !important;
}
.content-text {
	font-size: 1.4em !important;
	font-weight: 400;
}

.central {
	display: flex;
	align-items: center;
	justify-content: center;
}

.top-links ul ul, .top-links ul div.top-link-section, #primary-menu ul ul:not(.mega-menu-column), #primary-menu ul li .mega-menu-content, #primary-menu.style-6 > ul > li > a:after, #primary-menu.style-6 > ul > li.current > a:after, #top-cart .top-cart-content, .fancy-title.title-border-color:before, .dark #primary-menu:not(.not-dark) ul ul, .dark #primary-menu:not(.not-dark) ul li .mega-menu-content, #primary-menu.dark ul ul, #primary-menu.dark ul li .mega-menu-content, .dark #primary-menu:not(.not-dark) ul li .mega-menu-content.style-2, #primary-menu.dark ul li .mega-menu-content.style-2, .dark #top-cart .top-cart-content, .tabs.tabs-tb ul.tab-nav li.ui-tabs-active a, .irs-from:after, .irs-single:after, .irs-to:after 
{
 border-top-color: var(--buttonthemecolor) !important;	
}



/* ----------------------------------------------------------------
	Timeline
-----------------------------------------------------------------*/


@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,900);
$fontstack_heading: "Merriweather", sans-serif;
$fontstack_body: "Merriweather", sans-serif;
body {
  font-size:100%;
  line-height:1.6;
}
.block-content {
  min-height:100vh;
}
block-content p {
	font-size:1.1em;
	line-height:1.5;
	-webkit-font-smoothing:antialiased;
	margin:0 auto 1em auto;
}
.block-content h2 {

	text-align:center;
	margin:1em 0 0 0;
	font-size:2.5em;
	line-height:1;
	letter-spacing:0.02em;

	@media all and (min-width:40em) {

	font-size: 4.75em;

	}
}
.subtitle {

	font-family: $fontstack_heading;
	font-weight:300;
	text-transform:uppercase;
	text-align:center;
	font-size:1em;
	margin:0.5em 0;
}
.heading-group {
	margin:0 0 3em 0;
}
.content h3 {
	font-size: 1.4em;
	line-height:1.2;
	letter-spacing:0.02em;
    color:#fff;

	@media all and (min-width:40em) {

	font-size: 2.5em;

	}
}


h1, h2 {

	font-family: $fontstack_heading;
	font-weight:900;

}
p {
	font-family: $fontstack_body;
	line-height:1.5;
}

.l-block-spacing {

	
	min-height:80vh;
	padding:2em 0 4em 0;

}

.l-contained {

	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	
	padding-left:1em;
	padding-right:1em;

	@media all and (min-width:40em) {

		padding-left:2em;
		padding-right:2em;


	}
}
.timeline-list {

	border-left: 5px solid rgb(34, 142, 159,0.4);
	/* padding-bottom: 1em; */
	position: relative;
	max-width:700px;
	margin:0 auto;

}
	.timeline-list:before {
		content: "" data-animate="fadeIn";
     border-left: 5px solid #CCC;
     left: -0.25em;
     top: 2em;
     height: 100%;
     position: absolute;
     bottom: 0;
     top: 0;
    transform-origin:0 0;
    animation:scaleVertical 3s 1s ease both 1;
	}

	.timeline-list:after {
		/* content: ""; */
    clear:both;
    
		position: absolute;
		bottom: 0px;
		left: -1em;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: none repeat scroll 0% 0% #DDD;
		border: 5px solid #DDD;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    animation:revealScaleUp 0.75s 2.82s ease both 1;
	}


.t-block-teal {
	background: transparent;
}
.t-block-teal h2 {
	color:#fff;
}
.t-block-teal h3 {
	color:#228e9f;
	font-size: 200;
}
.t-block-teal p {
	color:#034944;
}
/*list animation 
//scale in the circle, follwoed by the list item
//the border must also animate in.*/
.timeline-list li {

	margin:0 0 1em 0;
	padding:0 2em 0em 2em;
    position: relative;

}
.timeline-list li:before {

	content: "";
	position: absolute;
	top: -1px;
	left: -1.85em;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: none repeat scroll 0% 0% #fff;
	border: 4px solid #228e9f;
  animation:revealScaleUp 0.75s 0s ease both 1;
  margin-left: 0.45%;
}
/* .timeline-list {
   
   animation:reveal 2s 0 ease both 1;
} */
.timeline-list li .content {
  animation:revealFromLeft 0.5s 0s ease both 1;
}




.timeline-list li:nth-child(1):before {
  animation-delay:0.85s;
}
.timeline-list li:nth-child(1) .content {
  animation-delay:1.05s;
}
.timeline-list li:nth-child(2):before {
   animation-delay:1.2s;
}
.timeline-list li:nth-child(2) .content {
  animation-delay:1.5s;
}
.timeline-list li:nth-child(3):before {
  animation-delay:1.8s;
}
.timeline-list li:nth-child(3) .content {
  animation-delay:2.1s;
}
.timeline-list li:nth-child(4):before {
  animation-delay:2s;
}
.timeline-list li:nth-child(4) .content {
  animation-delay:2.3s;
}
@keyframes revealFromLeft {
  0% {
    transform:translateX(-1em);
    opacity:0;
  }
  100% {
    opacity:1;
    transform:translateX(0);
  }
}
@keyframes reveal {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes scaleVertical {
  0% {
    transform:scaleY(0);
    
  }
  100% {
    transform:scaleY(1);
  }
}
@keyframes revealScaleUp {
  0% {
    opacity:0;
    transform:scale(0.5);
  }
  
  
  
  50% {
     opacity:1;
     transform:scale(1.3);
    
  }
  100% {
    opacity:1;
    transform:scale(1);
    
  }
}

/* ----------------------------------------------------------------
	Seperator
-----------------------------------------------------------------*/

hr.style7 {
	border-top: 1px solid #eee;
}

/* ----------------------------------------------------------------
	Header HEro
-----------------------------------------------------------------*/

.splash_img:{   
background-image:url("Images/bakemock.jpg") no-repeat center;
background-size:100% 100%; 
width: 100%;
height:500px !important; 
}

/* ----------------------------------------------------------------
	Cards
-----------------------------------------------------------------*/


@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
 
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:145px;
  /* border-top-left-radius:2px;
  border-top-right-radius:2px; */
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 145px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 400;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}


.va{
	vertical-align: middle;
}
.b-b-1 {
	border-bottom: 1px solid #dadada;
}
.logo-small {
	height: 50px !important;
	width: 50px !important;
	margin-top: 30px;
}
.main-title {
	color: #228E9F;
	font-weight: 200 !important;
	font-size: 4.4em;
}
.main-title-small {
	font-size: 2em;
}
.main-title-info {
	font-size: 1.5em !important;
	font-weight: 200;
	line-height: 175%;
}

.main-title-info-small {
	font-size: 0.9em !important;
}
.slider-title-small {
	width: 100% !important;
}
.feature-title-small {
	font-size: 1.5em !important;
}

/*
Pricing css's
*/
.nobottomborder { border-bottom: none !important; }
.bottommargin-sm { margin-bottom: 30px !important; }
.nott { text-transform: none !important; }
.ls0 { letter-spacing: 0px !important; }
  
  input.switch-toggle-round + label:before,
  input.switch-toggle-round + label {
    border-radius: 4px;
    background-color: #1ABC9C !important;
  }
  
  .svg-discount {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    margin-top: -15px;
    margin-left: 65px;
    background: url('../images/discount.svg') no-repeat 0 0,-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent));
    background: url('../images/discount.svg') no-repeat 0 0,-moz-linear-gradient(transparent,transparent);
    background: url('../images/discount.svg') no-repeat 0 0,linear-gradient(transparent,transparent);
    width: 60px;
    height: 39px;
  }
  input.switch-toggle-round + label:before,
  input.switch-toggle-round + label {
	  border-radius: 4px;
	  background-color: #1ABC9C !important;
  }

  input.switch-toggle-round + label:after { border-radius: 4px }
  



/* --------------------------------------------------------------
	SWITCH
--------------------------------------------------------------  */
.switch-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.switch-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* --------------------------------------------------------------
	SWITCH 1 - ROUND
----------------------------------------------------------------- */
input.switch-toggle-round + label {
	padding: 2px;
	width: 60px;
	height: 30px;
	background-color: #DDD;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}

input.switch-toggle-round + label:before,
input.switch-toggle-round + label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}

input.switch-toggle-round + label:before {
	right: 1px;
	background-color: #F1F1F1;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}

input.switch-toggle-round + label:after {
	width: 28px;
	background-color: #FFF;
	-webkit-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	-webkit-transition: margin 0.4s;
	-moz-transition: margin 0.4s;
	-o-transition: margin 0.4s;
	transition: margin 0.4s;
}

input.switch-toggle-round:checked + label:before { background-color: #1ABC9C; }
input.switch-toggle-round:checked + label:after { margin-left: 30px; }

/* Pricing Switcher
-----------------------------------------------------------------*/
.pricing-tenure-switcher { position: relative; 
  margin-left: -14%;
  }
  
  .pricing-tenure-switcher .pts-left,
  
  .pricing-tenure-switcher .pts-right,
  .pricing-tenure-switcher .pts-switcher {
    display: inline-block;
    margin: 0 10px;
    height: 30px;
    overflow: hidden;
  }
  
  .pricing-tenure-switcher .pts-left,
  .pricing-tenure-switcher .pts-right {
    font-size: var(--basefontsize);
    font-weight: 600;
    color: #AAA;
    line-height: 30px;
  }
  
  .pricing-tenure-switcher .pts-switch-active { color: #333; }
  
  .pricing-tenure-switcher .pts-switcher label { margin-bottom: 0; }
  
  input.switch-toggle-round + label:before,
  input.switch-toggle-round + label {
    border-radius: 4px;
    background-color: #1ABC9C !important;
  }
  
  .svg-discount {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    margin-top: -15px;
    margin-left: 65px;
    background: url('images/icons/discount.svg') no-repeat 0 0,-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent));
    background: url('images/icons/discount.svg') no-repeat 0 0,-moz-linear-gradient(transparent,transparent);
    background: url('images/icons/discount.svg') no-repeat 0 0,linear-gradient(transparent,transparent);
    width: 60px;
    height: 39px;
  }
  
  input.switch-toggle-round + label:after { border-radius: 4px }
  
  /* Pricing Boxes
  -----------------------------------------------------------------*/
  .pricing-box {
    border-color: rgba(17, 18, 18, .1);
    text-align: left;
    padding: 20px;
    background-color: #FAFAFA;
    box-shadow: none;
    margin-right: -1px;
    width: 70%;
    margin-left: 50%;

    -webkit-box-shadow: 10px 10px 5px 0px #dedede;
-moz-box-shadow: 10px 10px 5px 0px #dedede;
box-shadow: 10px 10px 5px 0px #dedede;
  }
  
  
  /* Pricing Boxes - Title
  -----------------------------------------------------------------*/
  .pricing-title {
    padding: 0;
    background-color: transparent;
    border-bottom: 0;
  }
  
  .pricing-title h3 {
    margin: 0;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    color: #555;
    text-transform: none;
  }
  
  .pricing-title span {
    font-size: 14px;
    text-transform: capitalize;
  }
  
  
  /* Pricing Boxes - Price
  -----------------------------------------------------------------*/
  .pricing-price {
    position: relative;
    font-weight: 500;
  }
  
  .pricing-price:after { content: none; }
  
  .pricing-price span.price-tenure {
    display: block;
    font-size: 15px;
    font-weight: normal;
    color: #AAA;
    text-transform: lowercase;
    margin-top: 4px;
  }
  
  /* Pricing Boxes - Features
  -----------------------------------------------------------------*/
  .pricing-features ul { padding: 0 0 20px 0; }
  
  .pricing-features li {
    padding: 7px 0;
    font-size: 13px;
    font-weight: 400;
    color: #555;
  }
  
  .pricing-features li i {
    position: relative;
    top: 2px;
    font-size: var(--basefontsize);
  }
  
  
  /* Pricing Boxes - Action
  -----------------------------------------------------------------*/
  .pricing-action {
    padding: 0;
    text-align: center;
  }
  .align-items-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .justify-content-between {
    /* -ms-flex-pack: justify !important; */
    justify-content: space-between !important;
  }

  .nopadding { padding: 0 !important; }
  .nomargin {margin: 0 !important; }

  .pricing {
    position: relative;
  }
  .bottommargin-lg {
    margin-bottom: 80px !important;
  }
  .nobg {
    background: none !important;
  }

.mb-2,
.my-2 {
	margin-bottom: 0.5rem !important;
}
.pricing-price {
  position: relative;
	padding: 25px 0;
  color: #333;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-size: 32px;
	line-height: 1;
}

.pricing-price span {
	display: inline-block;
	vertical-align: top;
	margin: 1px 3px 0 0;
	font-size: 25px;
	font-weight: normal;
}

article {
  width:100%;
  max-width: 1140px;
  margin: auto;
  height:1000px;
  position:relative;
}

.hide {
  border:0;
  background:none;
}

.bg-purple {
  border-top:3px solid #A32362;
  background: none !important;
  color: #fff;
  border-right-color: #555 !important;
  border-top: none;
}

.bg-ash {
  background: #5a5c5e !important;
  color: #fff;
  border-right-color: #555 !important;
  font-size: 20px;
  font-weight: 500;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  border-top: none !important;
}

.bg-light-ash {
  background: #adadad !important;
  border-top-left-radius: 10px;
  color: #fff;
  border-right-color: #555 !important;
  font-size: 20px;
  font-weight: 500;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  border-top: none !important;
}

.bg-blue {
  background: rgb(34, 142, 159) !important;
  color: #fff;
  border-right-color: #555 !important;
  font-size: 20px;
  font-weight: 500;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  border-top: none !important;
}

.bg-green {
  background: rgb(44, 164, 151) !important;
  color: #fff;
  border-right-color: #555 !important;
  font-size: 20px;
  font-weight: 500;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  border-top: none !important;
}

.bg-light-green {
  background: rgb(64, 175, 95) !important;
  border-top-right-radius: 10px;
  color: #fff;
  border-right-color: #555 !important;
  font-size: 20px;
  font-weight: 500;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  border-top: none !important;
}

.tr-pricing {
  border-bottom: 0.3px solid #DDD;
}
.border-right-table {
  /* border-right: 0.3px solid; */
}
.border-left-table {
  /* border-left: 0.3px solid; */
  padding-left: 1%;
  padding-right: 2%;
  font-size: 13px;
  font-weight: 400;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.pricing-table-cell-font {
  font-size: 13px;
  font-weight: 400;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #555 !important;
}
.tbody-pricing {
  /* border-right: 0.3px solid; */
  color: #555 ;
}
.font-15-p {
 font-size: 15px;
}
.tick { font-size:18px; color:#70ba70; }

.sep {
	background:#F5F5F5;
  font-weight:bold;
  color: #555;
}
.sep-alternate {
	background: transparent;
  font-weight:bold;
  color: #555;
}

/* Simple Classes to make Mobile Responsive */

.connect-p{
	padding-left: 5%;
    padding-right: 4%;
}

.margin-left-features-mobile{
	margin-left: 5%;
}

.margin-left-features-pc{
	margin-left: -3%;
}



.feature-box-mobile{
	margin-left: 6%;
    width: 349px;
}

.feature-box-pc{
	margin-left: -12%;
}

.iframe-home{
	margin-left: 8%;
}



	/* 1st example
	inspired from :
	- http://stackoverflow.com/questions/25573562/wrapping-a-youtube-video-in-a-static-image-frame-and-maintain-responsive-resiz
	- http://jsfiddle.net/4g9e3ywy/ */
	div.laptop-wrapper {
		position: relative;
		padding-top: 25px;
		padding-bottom: 50.5%;
		height: 0;
	}
	div.laptop-wrapper iframe {
		box-sizing: border-box;
		background: url(images/services/macbook.png) center center no-repeat;
		background-size: contain;
		padding-top: 2.2%;
		padding-right: 16.8%;
		padding-bottom: 4.6%;
		padding-left: 16.8%;
		position: absolute;
		top: 15px;
		left: 0;
		width: 934px;
		height: 431px;
	}

	.margin-home-video{
		margin-left: 9%;
	}

	/* Floating Icons */
@keyframes float {
	0% {
	  transform: translate(0px, 0px);
	}
	50% {
	  transform: translate(0px, 16px);
	}
	100% {
	  transform: translate(0px, 0px);
	}
  }

  html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	color: #666;
	background: #f5f8fa;
  }
  .content-float {
	position: relative;
	top: 35%;
  }
  h1 {
	/* text-align: center; */
	font-size: 24px;
  }
  .icons-float {
	margin-top: 40px;
	text-align: center;
  }
  a {
	/* font-size: 26px; */
	color: #4bf7d3;
	/* padding: 3px 2px;
	margin: 2px 3px; */
	transition: all 0.3s ease;
  }
  a:hover {
	color: #80ffdb;
  }
  

/* Conenct Header Image */
.connect-header-image{
	background-image: url('images/connect.jpg'); 
	background-size: cover; 
	background-position: bottom;
	background-repeat: no-repeat;
}
  
/* ----------------------------------------------------------------
	Footer Menu
-----------------------------------------------------------------*/


#footer-menu { float: right;}

#footer-menu-top { float: right;
	width: 575px; }

#footer-menu ul.mobile-footer-menu { display: none; }

#header.full-header #footer-menu > ul {
	float: left;
	padding-right: 15px;
	margin-right: 15px;
	border-right: 1px solid #EEE;
}

#header.transparent-header.full-header #footer-menu > ul { border-right-color: rgba(0,0,0,0.1); }

#footer-menu-trigger,
#page-submenu-trigger {
	opacity: 0;
	pointer-events: none;
	cursor: pointer;
	font-size: 14px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	-webkit-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

#footer-menu ul {
	list-style: none;
	margin: 0;
}

#footer-menu > ul { 
	float: left;
 }

#footer-menu ul li { position: relative; }

#footer-menu ul li.mega-menu { position: inherit; }

#footer-menu ul > li {
	float: left;
	margin-left: 2px;
}

#footer-menu > ul > li:first-child { margin-left: 0; }

#footer-menu ul li > a {
	display: block;
	line-height: 22px;
	padding: 39px 15px;
	color: #444;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: none;
	font-family: 'Raleway', sans-serif;
	-webkit-transition: margin .4s ease, padding .4s ease;
	-o-transition: margin .4s ease, padding .4s ease;
	transition: margin .4s ease, padding .4s ease;
}

#footer-menu ul li > a span { display: none; }

#footer-menu ul li > a i {
	position: relative;
	top: -1px;
	font-size: 14px;
	width: 16px;
	text-align: center;
	margin-right: 6px;
	vertical-align: top;
}

#footer-menu ul li > a i.icon-angle-down:last-child {
	font-size: 12px;
	margin: 0 0 0 5px;
}

#footer-menu ul li:hover > a,
#footer-menu ul li.current > a { color: #2CA497 !important; }

#footer-menu > ul > li.sub-menu > a > div { }

body.no-superfish #footer-menu li:hover > ul:not(.mega-menu-column),
body.no-superfish #footer-menu li:hover > .mega-menu-content { display: block; }

#footer-menu ul ul:not(.mega-menu-column),
#footer-menu ul li .mega-menu-content {
	display: none;
	position: absolute;
	width: 220px;
	background-color: #FFF;
	box-shadow: 0px 13px 42px 11px rgba(0, 0, 0, 0.05);
	border: 1px solid #EEE;
	border-top: 2px solid #1ABC9C;
	height: auto;
	z-index: 199;
	top: 100%;
	left: 0;
	margin: 0;
}

#footer-menu ul li .mega-menu-content {
	display: -ms-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: stretch;
	align-items: stretch;
}

#footer-menu ul ul:not(.mega-menu-column) ul {
	top: -2px !important;
	left: 218px;
}

#footer-menu ul ul.menu-pos-invert:not(.mega-menu-column),
#footer-menu ul li .mega-menu-content.menu-pos-invert {
	left: auto;
	right: 0;
}

#footer-menu ul ul:not(.mega-menu-column) ul.menu-pos-invert { right: 218px; }

#footer-menu ul ul li {
	float: none;
	margin: 0;
}

#footer-menu ul ul li:first-child { border-top: 0; }

#footer-menu ul ul li > a {
	font-size: 12px;
	font-weight: 700;
	color: #666;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 0;
	letter-spacing: 0;
	font-family: 'Lato', sans-serif;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#footer-menu ul ul li > a i { vertical-align: middle; }

#footer-menu ul ul li:hover > a {
	background-color: #F9F9F9;
	padding-left: 18px;
	color: #1ABC9C;
}

#footer-menu ul ul > li.sub-menu > a,
#footer-menu ul ul > li.sub-menu:hover > a {
	background-image: url("images/icons/submenu.png");
	background-position: right center;
	background-repeat: no-repeat;
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/


#footer-menu ul li .mega-menu-content,
#footer-menu ul li.mega-menu-small .mega-menu-content {
	width: 720px;
	max-width: 400px;
}

#footer-menu ul li.mega-menu .mega-menu-content,
.floating-header.sticky-header #footer-menu ul li.mega-menu .mega-menu-content {
	margin: 0 15px;
	width: 1140px;
	max-width: none;
}

.floating-header #footer-menu ul li.mega-menu .mega-menu-content {
	margin: 0;
	width: 1190px;
}

body.stretched .container-fullwidth #footer-menu ul li.mega-menu .mega-menu-content { margin: 0 60px; }

body.stretched #header.full-header #footer-menu ul li.mega-menu .mega-menu-content { margin: 0 30px; }

#footer-menu ul li.mega-menu .mega-menu-content.style-2 { padding: 0 10px; }

#footer-menu ul li .mega-menu-content ul {
	display: block;
	position: relative;
	top: 0;
	min-width: inherit;
	border: 0;
	box-shadow: none;
	background-color: transparent;
}

#footer-menu ul li .mega-menu-content ul:not(.megamenu-dropdown) {
	display: block !important;
	opacity: 1 !important;
	top: 0;
	left: 0;
}

#footer-menu ul li .mega-menu-content ul.mega-menu-column {
	float: left;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}

#footer-menu ul li .mega-menu-content ul.mega-menu-column.col-5 {
	width: 20%;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
}

#footer-menu ul li .mega-menu-content ul:not(.mega-menu-column) { width: 100%; }

#footer-menu ul li .mega-menu-content ul.mega-menu-column:not(:first-child) { border-left: 1px solid #F2F2F2; }

#footer-menu ul li .mega-menu-content.style-2 ul.mega-menu-column { padding: 30px 20px; }

#footer-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title { margin-top: 20px; }

#footer-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title:first-child { margin-top: 0; }

#footer-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a {
	font-size: 13px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase !important;
	margin-bottom: 15px;
	color: #444;
	padding: 0 !important;
	line-height: 1.3 !important;
}

#footer-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title:hover > a { background-color: transparent; }

#footer-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a:hover { color: #1ABC9C; }

#footer-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title.sub-menu > a,
#footer-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title.sub-menu:hover > a { background: none; }

#footer-menu ul li .mega-menu-content.style-2 li { border: 0; }

#footer-menu ul li .mega-menu-content.style-2 ul li > a {
	padding-left: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
}

#footer-menu ul li .mega-menu-content.style-2 ul li > a:hover { padding-left: 12px; }


.mega-menu-column .entry-meta {
	margin: 8px -10px 0 0 !important;
	border: none !important;
	padding: 0 !important;
}

.mega-menu-column .entry-meta li {
	float: left !important;
	border: none !important;
	margin: 0 10px 0 0 !important;
}



/* Primary Menu - Style 2
-----------------------------------------------------------------*/

#footer-menu.style-2 {
	float: none;
	max-width: none;
	border-top: 1px solid #F5F5F5;
}

#footer-menu.style-2 > div > ul { float: left; }

#footer-menu.style-2 > div > ul > li > a {
	padding-top: 19px;
	padding-bottom: 19px;
}

#logo + #footer-menu.style-2 { border-top: 0; }

#footer-menu.style-2 > div #top-search,
#footer-menu.style-2 > div #top-cart,
#footer-menu.style-2 > div #side-panel-trigger {
	margin-top: 20px;
	margin-bottom: 20px;
}

body:not(.device-md):not(.device-sm):not(.device-xs) #footer-menu.style-2.center > ul,
body:not(.device-md):not(.device-sm):not(.device-xs) #footer-menu.style-2.center > div {
	float: none;
	display: inline-block !important;
	width: auto;
	text-align: left;
}


/* Primary Menu - Style 3
-----------------------------------------------------------------*/

#footer-menu.style-3 > ul > li > a {
	margin: 28px 0;
	padding-top: 11px;
	padding-bottom: 11px;
	border-radius: 2px;
}

#footer-menu.style-3 > ul > li:hover > a {
	color: #444;
	background-color: #F5F5F5;
}

#footer-menu.style-3 > ul > li.current > a {
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	background-color: #1ABC9C;
}


/* Primary Menu - Style 4
-----------------------------------------------------------------*/

#footer-menu.style-4 > ul > li > a {
	margin: 28px 0;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 2px;
	border: 1px solid transparent;
}

#footer-menu.style-4 > ul > li:hover > a,
#footer-menu.style-4 > ul > li.current > a { border-color: #1ABC9C; }


/* Primary Menu - Style 5
-----------------------------------------------------------------*/

#footer-menu.style-5 > ul {
	padding-right: 10px;
	margin-right: 5px;
	border-right: 1px solid #EEE;
}

#footer-menu.style-5 > ul > li:not(:first-child) { margin-left: 15px; }

#footer-menu.style-5 > ul > li > a {
	padding-top: 25px;
	padding-bottom: 25px;
	line-height: 14px;
}

#footer-menu.style-5 > ul > li > a i {
	display: block;
	width: auto;
	margin: 0 0 8px;
	font-size: 28px;
	line-height: 1;
}


/* Primary Menu - Style 6
-----------------------------------------------------------------*/

#footer-menu.style-6 ul > li > a { position: relative; }

#footer-menu.style-6 > ul > li > a:after,
#footer-menu.style-6 > ul > li.current > a:after,
#footer-menu.style-6 > div > ul > li > a:after,
#footer-menu.style-6 > div > ul > li.current > a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 2px;
	width: 0;
	border-top: 2px solid #1ABC9C;
	-webkit-transition: width .3s ease;
	-o-transition: width .3s ease;
	transition: width .3s ease;
}

#footer-menu.style-6 > ul > li.current > a:after,
#footer-menu.style-6 > ul > li:hover > a:after,
#footer-menu.style-6 > div > ul > li.current > a:after,
#footer-menu.style-6 > div > ul > li:hover > a:after { width: 100%; }


/* Primary Menu - Sub Title
-----------------------------------------------------------------*/

#footer-menu.sub-title > ul > li,
#footer-menu.sub-title.style-2 > div > ul > li {
	background: url("images/icons/menu-divider.png") no-repeat right center;
	margin-left: 1px;
}

#footer-menu.sub-title ul li:first-child {
	padding-left: 0;
	margin-left: 0;
}

#footer-menu.sub-title > ul > li > a,
#footer-menu.sub-title > div > ul > li > a {
	line-height: 14px;
	padding: 27px 20px 32px;
	text-transform: uppercase;
	border-top: 5px solid transparent;
}

#footer-menu.sub-title > ul > li > a span,
#footer-menu.sub-title > div > ul > li > a span {
	display: block;
	margin-top: 10px;
	line-height: 12px;
	font-size: 11px;
	font-weight: 400;
	color: #888;
	text-transform: capitalize;
}

#footer-menu.sub-title > ul > li:hover > a,
#footer-menu.sub-title > ul > li.current > a,
#footer-menu.sub-title > div > ul > li:hover > a,
#footer-menu.sub-title > div > ul > li.current > a {
	background-color: #1ABC9C;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-top-color: rgba(0,0,0,0.1);
}

#footer-menu.sub-title > ul > li:hover > a span,
#footer-menu.sub-title > ul > li.current > a span,
#footer-menu.sub-title.style-2 > div > ul > li:hover > a span,
#footer-menu.sub-title.style-2 > div > ul > li.current > a span { color: #EEE; }

#footer-menu.sub-title.style-2 ul ul span { display: none; }


/* Primary Menu - Style 2 with Sub Title
-----------------------------------------------------------------*/

#footer-menu.sub-title.style-2 > div > ul > li { background-position: left center; }

#footer-menu.sub-title.style-2 > div #top-search,
#footer-menu.sub-title.style-2 > div #top-cart,
#footer-menu.sub-title.style-2 > div #side-panel-trigger {
	float: right;
	margin-top: 30px;
	margin-bottom: 30px;
}

#footer-menu.sub-title.style-2 div ul li:first-child,
#footer-menu.sub-title.style-2 > div > ul > li:hover + li,
#footer-menu.sub-title.style-2 > div > ul > li.current + li { background-image: none; }

#footer-menu.sub-title.style-2 > div > ul > li > a {
	padding-top: 17px;
	padding-bottom: 22px;
}


/* Primary Menu - Split Menu
-----------------------------------------------------------------*/

@media (min-width: 992px) {

	#header.split-menu #logo {
		position: absolute;
		width: 100%;
		text-align: center;
		margin: 0;
		float: none;
		height: 100px;
	}

	#header.split-menu #logo a.standard-logo { display: inline-block; }

}

#header.split-menu #footer-menu {
	float: none;
	margin: 0;
}

#header.split-menu #footer-menu > ul { z-index: 199; }

#header.split-menu #footer-menu > ul:first-child { float: left; }

#header.split-menu #footer-menu > ul:last-child { float: right; }


/* Primary Menu - Overlay Menu
-----------------------------------------------------------------*/


@media (min-width: 992px) {

.overlay-menu:not(.top-search-open) #footer-menu-trigger {
	opacity: 1;
	pointer-events: auto;
	left: auto;
	right: 75px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin-top: -10px;
}

.overlay-menu:not(.top-search-open) .full-header #footer-menu-trigger { right: 90px; }

.overlay-menu #footer-menu > #overlay-menu-close {
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 25px;
	left: auto;
	right: 25px;
	width: 48px;
	height: 48px;
	line-height: 48px;
	font-size: 24px;
	text-align: center;
	color: #444;
	z-index: 300;
	-webkit-transform: translateY(-80px);
	-ms-transform: translateY(-80px);
	-o-transform: translateY(-80px);
	transform: translateY(-80px);
	-webkit-transition: opacity .4s ease, transform .45s .15s ease;
	-o-transition: opacity .4s ease, transform .45s .15s ease;
	transition: opacity .4s ease, transform .45s .15s ease;
}

.overlay-menu #footer-menu > ul {
	opacity: 0 !important;
	pointer-events: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100% !important;
	z-index: 299;
	background: rgba(255,255,255,0.95);
	-webkit-transition: opacity .7s ease;
	-o-transition: opacity .7s ease;
	transition: opacity .7s ease;
}

.overlay-menu #footer-menu > ul.d-block {
	opacity: 1 !important;
	display: inherit !important;
	pointer-events: auto;
}

.overlay-menu #footer-menu > ul.d-block ~ #overlay-menu-close {
	opacity: 1;
	-webkit-transition: opacity .7s .4s ease, transform .45s .15s ease;
	-o-transition: opacity .7s .4s ease, transform .45s .15s ease;
	transition: opacity .7s .4s ease, transform .45s .15s ease;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	pointer-events: auto;
}

.overlay-menu #footer-menu > ul > li {
	float: none;
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
}

.overlay-menu #footer-menu > ul > li > a {
	font-size: 24px;
	padding-top: 19px;
	padding-bottom: 19px;
	letter-spacing: 2px;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translateY(-80px);
	-ms-transform: translateY(-80px);
	-o-transform: translateY(-80px);
	transform: translateY(-80px);
	-webkit-transition: opacity .7s .15s ease, transform .45s .15s ease, color .2s linear;
	-o-transition: opacity .7s .15s ease, transform .45s .15s ease, color .2s linear;
	transition: opacity .7s .15s ease, transform .45s .15s ease, color .2s linear;
}

.overlay-menu #footer-menu > ul.d-block > li > a {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

}

/* Home Page Header Slider Mobile */

.home-slider-title{
	text-align: center;
    width: 100%;
}

.home-slider-subtitle{
	text-align: center;
    width: 100%;
}

/* .home-slider-buttons{
	margin-left: 22% !important;
} */

/* Mobile Top Bar Social Icons Hide */

.top-social-mobile-hide{
	display: none !important;
}




body, html {
	height: 100%;
}
.nav-link[data-toggle].collapsed:after {
	content: "▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
	content: "▴";
}



/* Help-Center Styles
-----------------------------------
 */
.sub-sub-nav{
	color: #444;
	font-size:1.3em;
}
.sub-sub-nav:hover{
	text-decoration: underline;
	color: #444;

}
.sub-sub-nav:active{
	text-decoration: underline;
	color: #444;

}


.help-h1{
	font-family: sans-serif;
  font-weight: 500;
  font-size: 2.1em;
}

.help-h3{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	color: #313131;
}

.help-p{
	font-size: 1em;
	font-family: sans-serif;
	line-height: 180%;
	color: #313131;
}

.img-center {
  display: block;
  margin-left: auto;
	margin-right: auto;
}

.img-shadow {
	-moz-box-shadow:    inset 0 0 10px #000000 !important;
	-webkit-box-shadow: inset 0 0 10px #000000 !important;
	box-shadow:         inset 0 0 10px #000000 !important;
}

.img-border{
	border: 1px solid #cecece;
}

.interpretation{
	background-color: #efefef;
	padding: 3%;
	border-radius: 7px;
}

.col-1-5 {
	-ms-flex: 0 0 12.333333%;
	flex: 0 0 12.333333%;
	max-width: 12.333333%;
}

.help-link{
	text-decoration: underline !important; 
	font-weight: bold;
}

.help-bullet-padding{
	padding-left: 5%;
}

.getting_started:before{
	font-family: "Font Awesome 5 Free";
	font-weight: 500;
	content: "\f35a";
	margin-right: 7%;
	font-size: 1.4em;
	top: 0;
	right: 0;
}

.connect:before{
	font-family: "Font Awesome 5 Free";
	font-weight: 500;
	content: "\f14a";
	margin-right: 5%;
	font-size: 1.4em;
	top: 0;
	right: 0;
}

.analyze:before{
	font-family: "Font Awesome 5 Free";
	font-weight: 500;
	content: "\f080";
	margin-right: 7%;
	font-size: 1.4em;
	top: 0;
	right: 0;
}

.report:before{
	font-family: "Font Awesome 5 Free";
	font-weight: 500;
	content: "\f15c";
	margin-right: 10%;
	font-size: 1.4em;
	top: 0;
	right: 0;
}

.predict:before{
	font-family: "FontAwesome";
	font-weight: 500;
	content: "\f0e8";
	margin-right: 5%;
	font-size: 1.4em;
	top: 0;
	right: 0;
}

/* Help-Cneter Read More */
/*       Just setting CSS for the page   */

* {
  margin: 0;
  padding: 0;
}

html,
css {
  width: 100%;
  height: 100%;
}

.position {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 15%;
}

#workarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1e1a3e;
  font-family: Raleway;
}

#personal {
  color:#333;
  text-decoration:none;
  position:absolute;
  bottom:15px;
  right:2%;
}
/*    start code for the actual button:         */


/*   
    Spot is the span on the inside of the href that
    fills the parent and makes the hover and link work
    for the entire div
*/

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #1abc9c;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}
/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#text {
  margin-top: -32px;
  text-align: center;
}

#text a {
  color: #333;
  text-decoration: none;
  font-weight: 100;
  font-size: 1em;
}
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}


.feature-box.fbox-center.fbox-light .fbox-icon i {
	line-height: 70px;
}

/* Pricing Misc */
.yearly-text{
	display: none;
}

.pricingheading-font-mobile{
	font-size: 1.7em !important;
}

/* Home Page Slider Buttons */

.home-slider-button-pc-font{
	font-size: 1.4em !important;
}

.home-slider-button-mobile-font{
	font-size: 1.2em !important;
}

.home-slider-button-mobile-center{
	text-align: center;
}

.create
{
background-image: url('../images/icons/predict-icons/main_accuracy.svg');
background-repeat: no-repeat;
padding-left: 30px;  /* width of the image plus a little extra padding */
display: block;  /* may not need this, but I've found I do */
}

/* Home Page Services icons Section */

.feature-box .fbox-icon {
	display: block;
	position: absolute;
	width: 70px;
	height: 70px;
	/* top: 17px; */
	left: 0;
}


.fraud:before{
	content: '';
	background: url(../images/icons/services/icons8-credit-control-50.png) no-repeat;
	position: relative;
	z-index: 100000;
	top: 22px;
	zoom: 50%;
	background-size: 80px !important;
	width: 80px !important;
	height: 80px !important;
	visibility: visible;
	display: inline-block;
}

.churn:before{
	content: '';
	background: url(../images/icons/services/icons8-customer-50.png) no-repeat;
	position: relative;
	z-index: 100000;
	top: 22px;
	zoom: 50%;
	background-size: 80px !important;
	width: 80px !important;
	height: 80px !important;
	visibility: visible;
	display: inline-block;
}

.nex_best_product:before{
	content: '';
	background: url(../images/icons/services/icons8-add-shopping-cart-50.png) no-repeat;
	position: relative;
	z-index: 100000;
	top: 22px;
	zoom: 50%;
	background-size: 80px !important;
	width: 80px !important;
	height: 80px !important;
	visibility: visible;
	display: inline-block;
}

.product_propensity:before{
	content: '';
	background: url(../images/icons/services/icons8-rent-50.png) no-repeat;
	position: relative;
	z-index: 100000;
	top: 22px;
	zoom: 50%;
	background-size: 80px !important;
	width: 80px !important;
	height: 80px !important;
	visibility: visible;
	display: inline-block;
}

.risk_assessment:before{
	content: '';
	background: url(../images/icons/services/icons8-watch-your-step-50.png) no-repeat;
	position: relative;
	z-index: 100000;
	top: 22px;
	zoom: 50%;
	background-size: 80px !important;
	width: 80px !important;
	height: 80px !important;
	visibility: visible;
	display: inline-block;
}

.next_best_action:before{
	content: '';
	background: url(../images/icons/services/icons8-track-order-50.png) no-repeat;
	position: relative;
	z-index: 100000;
	top: 22px;
	zoom: 50%;
	background-size: 80px !important;
	width: 80px !important;
	height: 80px !important;
	visibility: visible;
	display: inline-block;
}

.predictive_maintenance:before{
	content: '';
	background: url(../images/icons/services/icons8-maintenance-50.png) no-repeat;
	position: relative;
	z-index: 100000;
	top: 22px;
	zoom: 43%;
	background-size: 80px !important;
	width: 80px !important;
	height: 80px !important;
	visibility: visible;
	display: inline-block;
}

.customer_lifetime_value:before{
	content: '';
	background: url(../images/icons/services/icons8-buy-upgrade-50.png) no-repeat;
	position: relative;
	z-index: 100000;
	top: 22px;
	zoom: 50%;
	background-size: 80px !important;
	width: 80px !important;
	height: 80px !important;
	visibility: visible;
	display: inline-block;
}

.demand_forecasting:before{
	content: '';
	background: url(../images/icons/services/icons8-demand-50.png) no-repeat;
	position: relative;
	z-index: 100000;
	top: 22px;
	zoom: 50%;
	background-size: 80px !important;
	width: 80px !important;
	height: 80px !important;
	visibility: visible;
	display: inline-block;
}


